@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply w-full h-screen bg-body-image bg-no-repeat bg-fixed;
  }

  *:focus-visible {
    border-radius: 0.375rem;
    outline: 2px solid #65a30d;
  }

  *::-webkit-scrollbar {
    inline-size: 10px;
  }
  *::-webkit-scrollbar-track {
    background-color: #030712;
  }
  *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #65a30d;
  }

  .scroll-card--light::-webkit-scrollbar {
    inline-size: 4px;
  }
  .scroll-card--light::-webkit-scrollbar-track {
    background-color: #d4d4d8;
  }
  .scroll-card--light::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #65a30d;
  }
}

@layer utilities {
  .focus {
    @apply focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-lime-500;
  }
}

@layer components {
  .heading_1 {
    @apply text-5xl tracking-tight sm:text-6xl md:text-7xl xl:text-8xl;
  }
  .heading_2 {
    @apply text-4xl tracking-tight sm:text-5xl;
  }
  .heading_3 {
    @apply text-3xl tracking-tight sm:text-4xl;
  }
  .heading_4 {
    @apply text-2xl tracking-tight sm:text-3xl;
  }
  .heading_5 {
    @apply text-xl tracking-tight sm:text-2xl;
  }
  .heading_6 {
    @apply text-lg tracking-tight sm:text-xl;
  }
  .paragraph_xl {
    @apply text-xl tracking-tight;
  }
  .paragraph_lg {
    @apply text-lg tracking-tight;
  }
  .paragraph_base {
    @apply text-base tracking-tight;
  }
  .paragraph_sm {
    @apply text-sm tracking-tight;
  }
  .paragraph_xs {
    @apply text-xs tracking-tight;
  }
  .span_xl {
    @apply text-xl tracking-tight;
  }
  .span_lg {
    @apply text-lg tracking-tight;
  }
  .span_base {
    @apply text-base tracking-tight;
  }
  .span_sm {
    @apply text-sm tracking-tight;
  }
  .span_xs {
    @apply text-xs tracking-tight;
  }

  .button-primary {
    @apply inline-flex items-center justify-center gap-2 py-2 px-4 rounded-xl text-base font-semibold text-gray-950 bg-lime-500 hover:bg-lime-400 transition-colors focus;
  }
  .button-secondary {
    @apply inline-flex items-center justify-center gap-2 py-2 px-4 rounded-xl text-base font-semibold text-gray-300 bg-gray-800/50 hover:bg-gray-800 transition-colors focus;
  }
  .button-tertiary {
    @apply inline-flex items-center justify-center gap-2 py-2 px-4 rounded-xl text-base font-semibold text-gray-900 bg-white hover:bg-lime-50 transition-colors focus;
  }
  .button-outlined {
    @apply inline-flex items-center justify-center gap-2 py-2 px-4 rounded-xl text-base font-semibold ring-1 ring-inset text-gray-400 ring-white/10 hover:bg-white/5 hover:text-white transition-colors focus;
  }
  .button-text {
    @apply inline-flex items-center justify-center gap-2 py-2 px-4 rounded-md text-base font-semibold text-gray-950 hover:text-gray-50 transition-colors focus;
  }

  .menu-mobile--open {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .menu-mobile--close {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .navbar-item {
    @apply w-full xl:w-fit font-medium text-gray-100 text-center transition-all duration-200 rounded focus:outline-none hover:text-opacity-50 focus:ring-1 focus:ring-gray-900 focus:ring-offset-2;
  }
  .navbar-item-sm {
    @apply navbar-item text-xl;
  }
  .navbar-item-xl {
    @apply navbar-item text-base;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s linear forwards;
}

@keyframes marquee {
  to {
    transform: translateY(-50%);
  }
}

.animate-marquee {
  animation: marquee var(--marquee-duration) linear infinite;
}

@keyframes scroll {
  0% {
    left: 0;
  }
  100% {
    left: -150%;
  }
}

.animate-carousel {
  animation: scroll 40s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slower {
  animation: spin 6s linear infinite;
}

@keyframes scaleDown {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.modal-blow-down {
  animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes scaleUp {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px);
    opacity: 0;
  }
}

.modal-blow-up {
  animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
